*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.plot{
    height: 34rem;
    width: 22rem;
    margin-left: 28rem;
    margin-top: 0.8rem;
    border-radius: 3rem;
    background: rgb(80, 78, 78);
    box-shadow: black  1.5px 0px 1px 1px;
}
#screen {
    height: 5.5rem;
    width: 18rem;
    margin-left: 2rem;
    top: 4.5rem;
    padding-top: 1.8rem;
    padding-left: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 22px;
    color: rgb(27, 24, 24);
    background: #7ec99c;
    border-right: solid gray;
    border-right-width: 0.5rem;
    border-bottom: solid rgb(126, 121, 121);
    border-bottom-width: 0.3rem;
    border-top: solid rgb(68, 65, 65);
    border-top-width: 0.5rem;
    border-left: solid rgb(41, 37, 37);
    border-left-width:0.2rem;
}
.row1{
    height:4rem ;
    background: rgb(80, 78, 78);
}
.clr{
    height: 3rem;
    width: 4rem;
    border: none;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-left: 2rem;
    background: brown;
    color: white;
    box-shadow: black  1.5px 0px 1.5px 0px;
    cursor: pointer;
}
.land{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content:center;
    height: 295px;
    width: 300px;
    margin-top: 4.5rem;
    margin-left: 25px;
    background: rgb(80, 78, 78);
}
.row2, .row3, .row4, .row5{
    width: 19rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background: rgb(80, 78, 78);

}
.btn, .operators,.eql{
    height: 3rem;
    width: 4rem;
    border: none;
    border-radius: 1rem;
    margin-top: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: black  1.5px 0px 1.5px 0px;
}
.btn{
    background:rgb(185, 183, 183)
}
.operators{
    font-size:larger;
    background:gainsboro;
}
.eql{ 
    background: brown;
    color: white;
    cursor: pointer;
}
.clr:hover,.eql:hover{
    background-color: rgb(226, 154, 154);
    color: black;
}
.btn:hover{
    background-color:slategrey;
}
.operators:hover{
    background-color: rgb(255, 255, 255);
}

