.plot{
    height: 570px;
    width: 373px;
    background: rgb(80, 78, 78);
    margin-left: 470px;
    margin-top: 27px; 
    border-radius: 30px;
}
#screen {
    height: 100px;
    width: 300px;
    margin-left: 36px;
    margin-top: 69px;
    background: #65c28a;
    border: black;
    border-color: black;
    border-width: 12px;
    position: relative;
    top: 3.7rem;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
    font-weight: bold;
}
.land{
    height: 362px;
    width: 302px;
    margin-left: 35px;
}
.clr{
    height: 46px;
    width: 67px;
    margin-top: 87px;
    margin-left: 33px;
    border-block:unset ;
    border-radius: 10px;
    border-color:white;
    border-left-color: white;
    border-right-color: white;
    border-bottom: white;
    background: brown;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}
.clr :hover{
    background-color: rgb(88, 23, 23);
}
.btn{
    height: 40px;
    width: 67px;
    border-radius: 10px;
    cursor: pointer;
    background:rgb(185, 183, 183)
}
.operators{
    height: 40px;
    width: 67px;
    border-radius: 10px;
    font-size:larger;
    background:gainsboro;
    cursor: pointer;
}
.eql{ 
    height: 40px;
    width: 67px;
    border-radius: 10px;
    border-color:white;
    border-left-color: white;
    border-right-color: white;
    border-bottom: white;
    background: brown;
    color: white;
    cursor: pointer;
}
.land{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content:center
}
.row2{
    height: 75px;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}
.row3{
    height: 75px;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row4{
    height: 75px;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row5{
    height: 75px;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}